@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<WareHouse.Models.ViewModels.BrandViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Brand</h2>

@if (Model.Count == 0)
{
    <br>

    <h3> Еще нет не одного бренда </h3>
   
    <a class="btn btn-dark" asp-area="" asp-controller="Brands" asp-action="AddBrand">добавить</a>
}
else
{
    <div class="container">
        <div>
            <table class="table">
                @foreach (var brandViewModel in Model)
                {
                    <tr>
                        <td>@brandViewModel.Id</td>
                        <td>@brandViewModel.Name </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-controller="Brands" asp-action="Details" asp-route-id="@brandViewModel.Id">подробно</a>
                        </td>
                    </tr>
                }
                <a class="btn btn-dark" asp-area="" asp-controller="Brands" asp-action="AddBrand">добавить</a>
            </table>
        </div>
    </div>
}