@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WareHouse.Models.ViewModels.MinusMovementEditingReceiptViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Редактирование Расходных накладных</h2>

    <div class="container-fluid">
        <div class="col-md-12">
            <h2>Подробнее</h2>
            <div class="row">
                <p class="card-text m-2"> Расходная накладная № : @Model.Id </p>
                <form asp-action="DeleteRequest" asp-controller="MinusMovements" method="get" asp-route-id="@Model.Id">
                    <button class="btn btn-danger" type="submit">Удалить накладную</button>
                </form>

            </div>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="row">
                                <p class="card-text p-2"> Покупатель : @Model.RecipientName </p>
                                <form asp-action="RecipientEdit" asp-controller="MinusMovements" method="get" asp-route-id="@Model.Id">
                                    <button type="submit">Редактировать</button>
                                </form>
                            </div>
                            <div class="row">
                                <p class="card-text p-2"> Основание : @Model.Document </p>
                                <form asp-action="DocumentEdit" asp-controller="MinusMovements" method="get" asp-route-id="@Model.Id">
                                    <button type="submit">Редактировать</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <form asp-action="Edit" asp-controller="MinusMovements" asp-antiforgery="true" enctype="multipart/form-data">
            <div class="col-md-12">

                <div id="basket" style="background-color: #9fcdff;">
                    <p style="font-size: large;">Корзина</p>
                    <table class="table" id="tabBasket">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Кол-во</th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                      

                        @if (Model.BasketExist != null && Model.BasketExist.MinusBasketProductViewModels != null)
                        {
                            @for (int i = 0; i < Model.BasketExist.MinusBasketProductViewModels.Count; i++)
                            {
                                <tr>
                                    <input asp-for="@Model.BasketExist.MinusBasketProductViewModels[i].Id" type="hidden"/>
                                    <input asp-for="@Model.BasketExist.MinusBasketProductViewModels[i].ProductId" type="hidden"/>
                                    <input asp-for="@Model.BasketExist.MinusBasketProductViewModels[i].NameProduct" type="hidden"/>
                                    <input asp-for="@Model.BasketExist.MinusBasketProductViewModels[i].MinusMovementId" type="hidden"/>
                                 
                                    <td>@Model.BasketExist.MinusBasketProductViewModels[i].NameProduct</td>
                                    <td> <input id="quantity" asp-for="@Model.BasketExist.MinusBasketProductViewModels[i].Quantity" type="text"/></td>
                                    <td>
                                        <button type="button" onclick="delProduct('@Model.BasketExist.MinusBasketProductViewModels[i].MinusMovementId', '@Model.BasketExist.MinusBasketProductViewModels[i].ProductId' )">Удалить </button>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                    <p style="font-size: large;">Итого: @Model.BasketExist.Summ</p>

                 
                </div>
                <div class="row p-3">
                
                    <div class="form-group p-2">
                        <input type="submit" value="Сохранить изменения" class="btn btn-primary"/>
                    </div>
                
                </div>
            </div>
        </form>
        <form asp-action="AddProductToReceipt" asp-controller="MinusMovements" method="get" asp-route-id="@Model.Id">
            <button type="submit">Добавить товар</button>
        </form>

    </div>



@section Scripts
{
    

    <script>   
   
    // вариант удаления целой позиции из корзины     
    function delProduct(minusMovementId, productId) {   
          $.ajax({
                  type: "POST",
                  url: "/MinusMovements/DelPositionFromBasketEdit",
                  data: {
                      "product": productId,
                       "productId": productId,
                       "minusMovementId": minusMovementId, 
                     
                      },                        
                  success: function(responce){    
                      $('#basket').html(responce);
                      
                      },error: function (error){
                        alert("Произошла ошибка")
                      }                  
                });
          }
           
    // вариант удаления минус одна еденица за клик из позиции в корзине
    //           
    // function delProduct(minusMovementId, productId) {   
    //       $.ajax({
    //               type: "POST",
    //               url: "/MinusMovements/DelFromBasketEdit",
    //               data: {
    //                   "product": productId,
    //                    "productId": productId,
    //                    "minusMovementId": minusMovementId, 
    //                 
    //                   },                        
    //               success: function(responce){    
    //                   $('#basket').html(responce);
    //                  
    //                   },error: function (error){
    //                     alert("Произошла ошибка")
    //                   }                  
    //             });
    //       }
   </script>
}
