@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WareHouse.Models.ViewModels.MinusMovementCreatingReceiptViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Cоздание Расходных накладных</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">

            <h2>Подробнее</h2>
            <br>

            <div asp-validation-summary="All"></div>
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text"> Покупатель : @Model.RecipientName </p>
                            <p class="card-text"> Основание : @Model.Document </p>
                        </div>
                    </div>
                </div>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th> Название </th>
                    <th> Колличество </th>
                    <th> Действие </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var product in Model.Products)
                {
                    <tr>
                        <td>@product.Name</td>
                        <td>тут кол-во</td>
                        <td>
                            <button type="button" onclick="addProduct('@product.Id', '@Model.Id')">Добавить </button>
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
        <div class="col-md-4">

            <div id="basket" style="background-color: #9fcdff;">
                <p style="font-size: large;">Корзина</p>
                <table class="table" id="tabBasket">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Кол-во</th>
                        <th>Действие</th>
                    </tr>
                    </thead>
                    <tbody>
                    @{
                        int summ = 0;
                    }

                    @if (Model.BasketExist != null && Model.BasketExist.MinusBasketProductViewModels != null)
                    {
                        @foreach (var item in Model.BasketExist.MinusBasketProductViewModels)
                        {
                            <tr>
                                <td>@item.NameProduct</td>
                                <td>@item.Quantity</td>
                                <td>
                                    <button type="button" onclick="delProduct('@item.MinusMovementId', '@item.ProductId')">Удалить </button>
                                </td>
                            </tr>
                        }
                        summ = Model.BasketExist.Summ;
                    }
                    </tbody>
                </table>
                <p style="font-size: large;">Итого: @summ</p>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
  
    <script>
    function addProduct(productId, minusMovementId) {   
          $.ajax({
                  type: "POST",
                  url: "/MinusMovements/AddToBasket",
                  data: {
                      "productId": productId,
                      "minusMovementId": minusMovementId,   
                      },                        
                  success: function(responce){    
                      $('#basket').html(responce);
                      
                      },error: function (error){
                        alert("Произошла ошибка")
                      }                  
                });
          }
          
    function delProduct(minusMovementId, productId) {   
          $.ajax({
                  type: "POST",
                  url: "/MinusMovements/DelFromBasket",
                  data: {
                       "productId": productId,
                       "minusMovementId": minusMovementId, 
                     
                      },                        
                  success: function(responce){    
                      $('#basket').html(responce);
                      
                      },error: function (error){
                        alert("Произошла ошибка")
                      }                  
                });
          }
                 
   </script>                       
}
