@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<WareHouse.Models.ViewModels.UnitMeasureViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Еденицы измерения</h2>

@if (Model.Count == 0)
{
    <br>

    <h3> Еще нет едениц измерения </h3>
   
    <a class="btn btn-dark" asp-area="" asp-controller="UnitMeasures" asp-action="AddUnitMeasure">добавить</a>
}
else
{
    <div class="container">
        <div>
            <table class="table">
                @foreach (var unitMeasureViewModel in Model)
                {
                    <tr>
                        <td>@unitMeasureViewModel.Id</td>
                        <td>@unitMeasureViewModel.Name </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-controller="UnitMeasures" asp-action="Details" asp-route-id="@unitMeasureViewModel.Id">подробно</a>
                        </td>
                    </tr>
                }
                <a class="btn btn-dark" asp-area="" asp-controller="UnitMeasures" asp-action="AddUnitMeasure">добавить</a>
            </table>
        </div>
    </div>
}