@model WareHouse.Models.ViewModels.ParameterViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Редaктирование Параметров </h2>


<br>
<form asp-action="Edit" asp-controller="Parameters" asp-antiforgery="true" enctype="multipart/form-data">

    <div class="validation" asp-validation-summary="All"/>

    <div>
        <div>
           
            <div class="form-group">
                <p>
                    <label asp-for="Name">Название</label>
                </p>
                <p>
                    <input asp-for="Name" type="text"/>
                </p>
                <span asp-validation-for="Name"></span>
            </div>
            
            <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                    <h6 class="mb-0"> <label asp-for="ProductTypeId">Выберите Тип Продукта </label></h6>
                </div>
                <div class="col-md-6 pe-5">
                    <select  asp-for="ProductTypeId"  asp-items="ViewBag.TypeList"></select>
                    <span class="field-validation-valid" data-valmsg-for="ProductTypeId" data-valmsg-replace="true"></span>
                </div>
            </div>
            <hr class="mx-n3">
            
            
            <input asp-for="Id" type="hidden"/>
 
          
            <br>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</form>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}