@using Microsoft.AspNetCore.Mvc.TagHelpers
@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Мейн склада</h2>

<div class="row">
    <div class="p-3">
          <a class="btn btn-dark" asp-area="" asp-controller="Brands" asp-action="Index">Бренд</a>
    </div>
    <div class="p-3">
        <a class="btn btn-dark" asp-area="" asp-controller="UnitMeasures" asp-action="Index">Еденицы Измерения</a>
    </div>
    <div class="p-3">
        <a class="btn btn-dark" asp-area="" asp-controller="Providers" asp-action="Index">Поставщики</a>
    </div>
    <div class="p-3">
         <a class="btn btn-dark" asp-area="" asp-controller="Recipients" asp-action="Index">Получатели</a>
    </div>
   <div class="p-3">
        <a class="btn btn-dark" asp-area="" asp-controller="ProductTypes" asp-action="Index">Тип Продукта</a>
    </div>
    <div class="p-3">
         <a class="btn btn-dark" asp-area="" asp-controller="Parameters" asp-action="Index">Параметры Продукта</a>
    </div>
    <div class="p-3">
        <a class="btn btn-dark" asp-area="" asp-controller="Products" asp-action="Index">Товар</a>
    </div>
</div>
<br>
<br>
<div class="row">
    <div class="p-3">
         <a class="btn btn-warning" asp-area="" asp-controller="Movements" asp-action="Index">ПРИХОДНАЯ НАКЛАДНАЯ</a>
    </div>
<br>
     <div class="p-3">
        <a class="btn  btn-warning" asp-area="" asp-controller="MinusMovements" asp-action="Index">РАСХОДНАЯ НАКЛАДНАЯ</a>
    </div> 
</div> 
<div class="row">
    <div class="p-3">
         <a class="btn btn-info" asp-area="" asp-controller="Reports" asp-action="Index">Вывод складских остатков</a>
    </div>
</div> 
