@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WareHouse.Models.ViewModels.RecipientDetailViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container-fluid">
  <div class="row">
      <div class="col-md-8">

          <h2>Подробнее</h2>
          <br>

          <div asp-validation-summary="All"></div>
          <div class="card mb-3">
              <div class="row g-0">
            
                  <div class="col-md-8">
                      <div class="card-body">
                          <p class="card-text"> Название:   @Model.Name </p>
                          <p class="card-text"> БИН:   @Model.Bin </p>
                          <p class="card-text"> Дата создания:   @Model.CreateTime </p>
                          <p class="card-text"> создано или редактировалось:    @Model.User.Name      @Model.User.Surname   </p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <form asp-action="Edit" asp-controller="Recipients" method="get" asp-route-Id ="@Model.Id">
          <button type="submit">Редактировать</button>
      </form>
      <form asp-action="DeleteRequest" asp-controller="Recipients" method="get" asp-route-Id ="@Model.Id">
          <button type="submit">Удалить</button>
      </form>
      
      
  </div>
</div>
