@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WareHouse.Models.ViewModels.ProductCreateViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Заполните форму для добавления Продукта</h2>
<br>

<section class="vh-400" style="background-color: #ff7261;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">

                <h1 class="text-white mb-4">Товар</h1>
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        
                        <form enctype="multipart/form-data"  asp-action="Add" asp-controller="Products" asp-antiforgery="true">
                            <div class="validation" asp-validation-summary="All"></div>
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Название</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <input asp-for="Name" type="text" placeholder="Название">
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Артикул</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <input asp-for="UniqueCode" type="number" placeholder="Артикул">
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Описание</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <textarea asp-for="Description" rows="10" cols="50"></textarea>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Фото товара</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <input asp-for="Foto" type="file">
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Выберите Бренд</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <select data-val="true" data-val-required="выберите бренд"  name="BrandId" class="form-control" asp-items="@ViewBag.BrandList">
                                        <option>выберите из списка</option>
                                    </select>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Выберите Тип Продукта</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <select name="ProductTypeId" class="form-control" asp-items="@ViewBag.TypeList">
                                        <option>выберите из списка</option>
                                    </select>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Выберите Еденицу измерения</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <select name="UnitMeasureId" class="form-control" asp-items="@ViewBag.UnitList" required>
                                        <option>выберите из списка</option>
                                    </select>
                                </div>
                            </div>
                            <hr class="mx-n3">

                            <button type="submit" class="btn btn-primary btn-lg">Добавить</button>
                            <hr class="mx-n3">
                        </form>



                    </div>
                    <div class="option">
                        <p> Все Продукты <a asp-action="Index" asp-controller="Products">просмотреть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}