

@using Microsoft.AspNetCore.Mvc.TagHelpers
 @model WareHouse.Models.ViewModels.ProductDetailFirstViewModel 

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Редaктирование бренда</h2>

 <div class="container-fluid">
     <div class="row">
         <div class="col-md-8">
             <h2>Подробнее</h2>
             <br>
             <div asp-validation-summary="All"></div>
             <div class="card mb-3">
                 <div class="row g-0">
                     <div class="col-md-6">
                         <div class="card-body">
                             <p class="card-text"> Название:    </p>
                             <p class="card-text"> Артикул:     </p>
                             <p class="card-text"> Производитель:     </p>
                             <p class="card-text"> Относится к типу товара:     </p>
                             <p class="card-text"> Еденицы измерения:     </p>
                             <p class="card-text"> Дата создания:    </p>
                             <p class="card-text"> Создано или редактировалось:  </p>
                             <p class="card-text"> Описание:  </p>
                             <p>заполните дополнительные параметры товара</p>
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="card-body">
                             <p class="card-text"> @Model.Name </p>
                             <p class="card-text"> @Model.UniqueCode
                             <p class="card-text"> @Model.Brand.Name </p>
                             <p class="card-text"> @Model.ProductType.Name </p>
                             <p class="card-text"> @Model.UnitMeasure.Name </p>
                             <p class="card-text"> @Model.CreateTime </p>
                             <p class="card-text"> @Model.User.Name      @Model.User.Surname   </p>
                             <p class="card-text"> @Model.Description </p>
                         </div>
                     </div>
                     <hr>
                     <br>
                     <br>
                     <form asp-action="AddParameterDescription" asp-controller="Products" asp-antiforgery="true" enctype="multipart/form-data">

                         <div class="validation" asp-validation-summary="All"/>
                         <div>
                             <div>
                                 @for (int i = 0; i < Model.ParametersList.Count; i++)
                                 {
                                     <div class="form-group">
                                         <div class="col-md-6">
                                             <div class="card-body">
                                                 <p>
                                                     <label > @Model.ParametersList[i].Name</label>
                                                 </p>
                                             </div>
                                         </div>
                                         <div class="col-md-6"> 
                                             <div class="card-body">
                                                 <p>
                                                     <input asp-for="@Model.ParametersList[i].Id" type="hidden"/>
                                                     <input asp-for="@Model.ParametersList[i].Name" type="hidden"/>
                                                     <input asp-for="@Model.ParametersList[i].ProductId" type="hidden"/>
                                                     <textarea asp-for="@Model.ParametersList[i].DescriptionParam" type="text" rows="5" cols="25"></textarea>
                                                 </p>
                                                 <span asp-validation-for="@Model.ParametersList[i].DescriptionParam"></span>
                                             </div>
                                         </div>
                                     </div>
                                 }
                                 <br>
                                 <div class="col-md-6">   
                                     <div class="form-group">
                                         <div class="card-body">
                                             <input type="submit" value="Сохранить изменения" class="btn btn-primary"/>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                         </div>
                     </form>
                     
                 </div>
             </div>
         </div>
     </div>
    <div class="col-md-4"> 
       <h2>фото</h2> 
       <br> 
       <br> 
      <div class="card mb-3"> 
          <img src="@Model.Foto" width="300" height="300" alt="..."> 
      </div> 
    </div> 
 </div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
