@model WareHouse.Models.ViewModels.ProductViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Редaктирование Продуктов </h2>


<br>
<form asp-action="Edit" asp-controller="Products" asp-antiforgery="true" enctype="multipart/form-data">

    <div class="validation" asp-validation-summary="All"/>

    <div>
        <div>
            <div class="form-group">
                <div class="row align-items-center pt-4 pb-3">
                    <div class="col-md-3 ps-5">
                        <p>
                            <label asp-for="Name">Название</label>
                        </p>
                    </div>
                    <div class="col-md-3 ps-5">
                        <p>
                            <input asp-for="Name" type="text"/>
                        </p>
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
            </div>
            <hr class="mx-n3">
            <div class="form-group">
               <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
                    <p>
                        <label asp-for="Description">Описание</label>
                    </p>
                  </div>
                   <div class="col-md-3 ps-5">
                       <p>
                           <textarea asp-for="Description" rows="5" cols="30"></textarea>
                       </p>
                       <span asp-validation-for="Description"></span>
                   </div>
               </div>
            </div>
            <hr class="mx-n3">
            <div class="form-group">
               <div class="row align-items-center pt-4 pb-3">
                  <div class="col-md-3 ps-5">
                    <p>
                        <label asp-for="UniqueCode">Артикул</label>
                    </p>
                  </div>
                   <div class="col-md-3 ps-5">
                       <p>
                           <input asp-for="UniqueCode" type="text"/>
                       </p>
                       <span asp-validation-for="UniqueCode"></span>
                   </div>
               </div>
            </div>
            <hr class="mx-n3">

            <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                    <h6 class="mb-0">Выберите Бренд</h6>
                </div>
                <div class="col-md-6 pe-5">
                    <select  asp-for="BrandId"  asp-items="ViewBag.BrandList">
                        @*<option value="">выберите заначение</option>*@
                    </select>
                    <span asp-validation-for="BrandId"></span>
                </div>
            </div>
            <hr class="mx-n3">
            
            <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                    <h6 class="mb-0"> <label asp-for="ProductTypeId">Выберите Тип Продукта </label></h6>
                </div>
                <div class="col-md-6 pe-5">
                    <select  asp-for="ProductTypeId"  asp-items="ViewBag.TypeList"></select>
                    <span class="field-validation-valid" data-valmsg-for="ProductTypeId" data-valmsg-replace="true"></span>
                </div>
            </div>
            <hr class="mx-n3">

            <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                    <h6 class="mb-0">Выберите единицы измерения</h6>
                </div>
                <div class="col-md-6 pe-5">
                    <select  asp-for="UnitMeasureId"  asp-items="ViewBag.UnitList">
                        @* <option value="">выберите заначение</option> *@
                    </select>
                    <span asp-validation-for="UnitMeasureId"></span>
                </div>
            </div>
            <hr class="mx-n3">
             <div class="row align-items-center pt-4 pb-3">
                <div class="col-md-3 ps-5">
                    <h6 class="mb-0">Фото товара</h6>
                </div>
                <div class="col-md-6 pe-5">
                    <input asp-for="Foto" type="file">
                </div>
            </div>
            <hr class="mx-n3">
            
            @if ( Model.InformationProductList != null)
            {
                @for (int i = 0; i < Model.InformationProductList.Count; i++)
                {
                    <div class="form-group">
                        <div class="col-md-6">
                            <div class="card-body">
                                <p>
                                    <label > @Model.InformationProductList[i].ParameterName</label>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6"> 
                            <div class="card-body">
                                <p>
                                    <input asp-for="@Model.InformationProductList[i].Id" type="hidden"/>
                                    <input asp-for="@Model.InformationProductList[i].ParameterId" type="hidden"/>
                                    <textarea asp-for="@Model.InformationProductList[i].DescriptionInformation" type="text" rows="5" cols="25"></textarea>
                                </p>
                                <span asp-validation-for="@Model.InformationProductList[i].DescriptionInformation"></span>
                            </div>
                        </div>
                    </div>
                }
            }
        

            <input asp-for="Id" type="hidden"/>
 
          
            <br>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</form>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}