﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WareHouse.Models.ViewModels.EditUserViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Редaктирование пользователя</h2>


<br>
<form asp-action="EditProfile" asp-controller="Profile" asp-antiforgery="true" enctype="multipart/form-data">

    <div class="validation" asp-validation-summary="All"/>

    <div>
        <div>
           
            <div class="form-group">
                <p>
                    <label asp-for="Name">имя</label>
                </p>
                <p>
                    <input asp-for="Name" type="text"/>
                </p>
                <span asp-validation-for="Name"></span>
            </div>

            <div class="form-group">
                <p>
                    <label asp-for="Surname">Фамилия</label>
                </p>
                <p>
                    <input asp-for="Surname" type="text"/>
                </p>
                <span asp-validation-for="Surname"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</form>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}