﻿@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@inject UserManager<User> UserManager

@model WareHouse.Models.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Личный кабинет</h2>


<br>

@if (Model == null)
{
    <br>

    <h3> нет данных </h3>
}
else
{
    <div class="row">

        @* <div class="d-flex flex-column bd-highlight mb-3"> *@
        @* *@
        @*     <img src="@Model.Avatar" height="200px" width="200px" alt="#"> *@
        @* *@
        @* </div> *@
        <div class="d-flex flex-column bd-highlight">
           
            <div class="p-2 bd-highlight">Логин - @Model.UserName</div>
            <div class="p-2 bd-highlight">Имя - @Model.Name</div>
            <div class="p-2 bd-highlight">Фамилия - @Model.Surname</div>
            @* <div class="p-2 bd-highlight">Почта - @Model.Email</div> *@

        </div>
        <br>
        <hr>
        <br>
        


        @{
            var modelUserName = UserManager.GetUserId(User);
        }
        @if (modelUserName == Model.UserName )
        {
            
        }
        else
        {
            <form asp-action="EditProfile" asp-controller="Profile" method="get">
                <button type="submit">Редактировать</button>
            </form>
            
          
        }


    </div>
}

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}