@model WareHouse.Models.ViewModels.ProductTypeViewModel
@using Microsoft.AspNetCore.Mvc.TagHelpers


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Редaктирование Тип Продукта </h2>


<br>
<form asp-action="Edit" asp-controller="ProductTypes" asp-antiforgery="true" enctype="multipart/form-data">

    <div class="validation" asp-validation-summary="All"/>

    <div>
        <div>
           
            <div class="form-group">
                <p>
                    <label asp-for="Name">Название</label>
                </p>
                <p>
                    <input asp-for="Name" type="text"/>
                </p>
                <span asp-validation-for="Name"></span>
            </div>
            
            
            <input asp-for="Id" type="hidden"/>
 
          
            <br>
            <div class="form-group">
                <input type="submit" value="Сохранить изменения" class="btn btn-primary"/>
            </div>
        </div>
    </div>
</form>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}