@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<WareHouse.Models.ViewModels.ProviderViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Поставщики</h2>

@if (Model.Count == 0)
{
    <br>

    <h3> Еще нет не одного поставщика </h3>
   
    <a class="btn btn-dark" asp-area="" asp-controller="Providers" asp-action="Add">добавить</a>
}
else
{
    <div class="container">
        <div>
            <table class="table">
                @foreach (var viewModel in Model)
                {
                    <tr>
                        <td>@viewModel.Id</td>
                        <td>@viewModel.Name </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-controller="Providers" asp-action="Details" asp-route-id="@viewModel.Id">подробно</a>
                        </td>
                    </tr>
                }
                <a class="btn btn-dark" asp-area="" asp-controller="Providers" asp-action="Add">добавить</a>
            </table>
        </div>
    </div>
}