﻿
@model WareHouse.Models.ViewModels.MovementEditingReceiptViewModel

@{
    ViewBag.Title = "title";
    Layout = null;
}


<p style="font-size: large;">Корзина</p>
<table class="table" id="tabBasket">
    <thead>
    <tr>
        <th>Название</th>
        <th>Кол-во</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>

     
    @for (int i = 0; i < Model.BasketExist.BasketProductViewModels.Count; i++)
    {
        <tr>
            <input asp-for="@Model.BasketExist.BasketProductViewModels[i].Id" type="hidden"/>
            <input asp-for="@Model.BasketExist.BasketProductViewModels[i].ProductId" type="hidden"/>
            <input asp-for="@Model.BasketExist.BasketProductViewModels[i].NameProduct" type="hidden"/>
            <input asp-for="@Model.BasketExist.BasketProductViewModels[i].MovementId" type="hidden"/>
             
            <td>@Model.BasketExist.BasketProductViewModels[i].NameProduct</td>
            <td> <input id="quantity" asp-for="@Model.BasketExist.BasketProductViewModels[i].Quantity" type="text"/></td>
            <td>
                <button type="button" onclick="delProduct('@Model.BasketExist.BasketProductViewModels[i].MovementId', '@Model.BasketExist.BasketProductViewModels[i].ProductId' )">Удалить </button>
            </td>
        </tr>
    }
 


    </tbody>
</table>
<p style="font-size: large;">Итого: @Model.BasketExist.Summ </p>