﻿@model WareHouse.Models.ViewModels.BasketViewModel 

@{
    ViewBag.Title = "title";
    Layout = null;
}


<p style="font-size: large;">Корзина</p>
<table class="table" id="tabBasket">
    <thead>
    <tr>
        <th>Название</th>
        <th>Кол-во</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>

    @foreach (var item in Model.BasketProductViewModels)
    {
        <tr>
            <td>@item.NameProduct</td>
            <td>@item.Quantity</td>
            <td>
                <button type="button" onclick="delProduct('@item.MovementId', '@item.ProductId')">Удалить </button>
            </td>
        </tr>
    }
    </tbody>
</table>
<p style="font-size: large;">Итого: @Model.Summ </p>