@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WareHouse.Models.ViewModels.MovementCreateViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Заполните форму для добавления Поступления</h2>
<br>

<section class="vh-400" style="background-color: #ff7261;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">

                <h1 class="text-white mb-4">Приходная накладная</h1>
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        
                        <form enctype="multipart/form-data"  asp-action="Add" asp-controller="Movements" asp-antiforgery="true">
                            <div class="validation" asp-validation-summary="All"></div>
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Документ основание</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <input asp-for="Document" type="text" placeholder="Название">
                                </div>
                            </div>
                            <hr class="mx-n3">
                           
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Выберите  Организацию</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <select data-val="true" data-val-required="выберите организацию"  name="ProviderId" class="form-control" asp-items="@ViewBag.ProviderList">
                                        <option>выберите из списка</option>
                                    </select>
                                </div>
                            </div>
                            <hr class="mx-n3">
                            

                            <button type="submit" class="btn btn-primary btn-lg">Создать приходную накладную</button>
                            <hr class="mx-n3">
                        </form>



                    </div>
                    <div class="option">
                        <p> Все Поступления <a asp-action="Index" asp-controller="Movements">просмотреть</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}