@model WareHouse.Models.ViewModels.EditMovementAddProductViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Добавление товара на накладную</h2>

<form enctype="multipart/form-data"  asp-action="AddProductToReceipt" asp-controller="Movements" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="All"></div>
   
                           
    <div class=" align-items-center pt-4 pb-3">
       
        <div class="col-md-6 pe-5">
            <label for="Quantity">Выберите  товар</label>
            <select data-val="true" data-val-required="выберите товар" asp-for="ProductId" class="form-control" asp-items="@ViewBag.ProviderList">
                <option>выберите из списка</option>
            </select>
        </div>
         <hr class="mx-n3">
        <div class="col-md-6 pe-5">
            <div> <label for="Quantity">Колличество</label>  </div>
            <input asp-for="Quantity" type="number"/>
        </div>
        
    </div>
    <hr class="mx-n3">
    <input asp-for="MovementId" type="hidden"/>


    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
    <hr class="mx-n3">
</form>