@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WareHouse.Models.ViewModels.MovementDetailViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<div class="container-fluid">
  <div class="row">
      <div class="col-md-8">
          <h2>Подробнее</h2>
          <br>
          <div asp-validation-summary="All"></div>
          <div class="card mb-3">
              <div class="row g-0">
                  <div class="col-md-6">
                      <div class="card-body">
                          <p class="card-text"> Название:    </p>
                          <p class="card-text"> Артикул:     </p>
                          <p class="card-text"> Производитель:     </p>
                          <p class="card-text"> Относится к типу товара:     </p>
                          <p class="card-text"> Еденицы измерения:     </p>
                          <p class="card-text"> Дата создания:    </p>
                          <p class="card-text"> Создано или редактировалось:  </p>
                          <p class="card-text"> Описание:  </p>
                        
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="card-body">
                          <p class="card-text"> @Model.Name </p>
                          <p class="card-text"> @Model.UniqueCode 
                          <p class="card-text"> @Model.Brand.Name </p>
                          <p class="card-text"> @Model.ProductType.Name </p>
                          <p class="card-text"> @Model.UnitMeasure.Name </p>
                          <p class="card-text"> @Model.CreateTime </p>
                          <p class="card-text"> @Model.User.Name      @Model.User.Surname   </p>
                          <p class="card-text"> @Model.Description </p>
                          @* @if (Model.InformationProducts.Count > 0) *@
                          @* { *@
                          @*    @for (int i = 0; i < Model.InformationProducts.Count; i++) *@
                          @*    { *@
                          @*       <p class="card-text">@Model.InformationProducts[i].DescriptionInformation </p> *@
                          @*    } *@
                          @* } *@
                      </div>
                  </div>
                  
              </div>
          </div>
      </div>
      <div class="col-md-4">
           <h2>фото</h2>
          <br>
          <br>
          <div class="card mb-3">
              <img src="@Model.Foto" width="300" height="300" alt="...">
          </div>
      </div>
      <div class="col-md-4">
          <form asp-action="Edit" asp-controller="Products" method="get" asp-route-Id ="@Model.Id">
              <button type="submit">Редактировать</button>
          </form>
      </div>
      <div class="col-md-4">
          <form asp-action="DeleteRequest" asp-controller="Products" method="get" asp-route-Id ="@Model.Id">я
              <button type="submit">Удалить</button>
          </form>
      </div>
      
      
  </div>
</div>
