@model WareHouse.Models.ViewModels.EditMovementDocumentViewModel;


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2> Изменить документ основание </h2>


<form enctype="multipart/form-data"  asp-action="DocumentEdit" asp-controller="Movements" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="All"></div>
   
                           
    <div class="row align-items-center pt-4 pb-3">
        <div class="col-md-3 ps-5">
            <h6 class="mb-0">Выберите  Организацию</h6>
        </div>
         <input asp-for="Document" type="text"/>
    </div>
    <hr class="mx-n3">
    <input asp-for="MovementId" type="hidden"/>


    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
    <hr class="mx-n3">
</form>