@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WareHouse.Models.ViewModels.MovementEditingReceiptViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<h2>Редактирование Приходных накладных</h2>

    <div class="container-fluid">
        <div class="col-md-12">
            <h2>Подробнее</h2>
            <div class="row">
                <p class="card-text m-2"> Приходная накладная № : @Model.Id </p>
                <form asp-action="DeleteRequest" asp-controller="Movements" method="get" asp-route-id="@Model.Id">
                    <button class="btn btn-danger" type="submit">Удалить накладную</button>
                </form>

            </div>

            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <div class="row">
                                <p class="card-text p-2"> Поставщик : @Model.ProviderName </p>
                                <form asp-action="ProviderEdit" asp-controller="Movements" method="get" asp-route-id="@Model.Id">
                                    <button type="submit">Редактировать</button>
                                </form>
                            </div>
                            <div class="row">
                                <p class="card-text p-2"> Основание : @Model.Document </p>
                                <form asp-action="DocumentEdit" asp-controller="Movements" method="get" asp-route-id="@Model.Id">
                                    <button type="submit">Редактировать</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <form asp-action="Edit" asp-controller="Movements" asp-antiforgery="true" enctype="multipart/form-data">
            <div class="col-md-12">

                <div id="basket" style="background-color: #9fcdff;">
                    <p style="font-size: large;">Корзина</p>
                    <table class="table" id="tabBasket">
                        <thead>
                        <tr>
                            <th>Название</th>
                            <th>Кол-во</th>
                            <th>Действие</th>
                        </tr>
                        </thead>
                        <tbody>
                      

                        @if (Model.BasketExist != null && Model.BasketExist.BasketProductViewModels != null)
                        {
                            @for (int i = 0; i < Model.BasketExist.BasketProductViewModels.Count; i++)
                            {
                                <tr>
                                    <input asp-for="@Model.BasketExist.BasketProductViewModels[i].Id" type="hidden"/>
                                    <input asp-for="@Model.BasketExist.BasketProductViewModels[i].ProductId" type="hidden"/>
                                    <input asp-for="@Model.BasketExist.BasketProductViewModels[i].NameProduct" type="hidden"/>
                                    <input asp-for="@Model.BasketExist.BasketProductViewModels[i].MovementId" type="hidden"/>
                                 
                                    <td>@Model.BasketExist.BasketProductViewModels[i].NameProduct</td>
                                    <td> <input id="quantity" asp-for="@Model.BasketExist.BasketProductViewModels[i].Quantity" type="text"/></td>
                                    <td>
                                        <button type="button" onclick="delProduct('@Model.BasketExist.BasketProductViewModels[i].MovementId', '@Model.BasketExist.BasketProductViewModels[i].ProductId' )">Удалить </button>
                                    </td>
                                </tr>
                            }
                        }
                        </tbody>
                    </table>
                    <p style="font-size: large;">Итого: @Model.BasketExist.Summ</p>

                 
                </div>
                <div class="row p-3">
                
                    <div class="form-group p-2">
                        <input type="submit" value="Сохранить изменения" class="btn btn-primary"/>
                    </div>
                
                </div>
            </div>
        </form>
        <form asp-action="AddProductToReceipt" asp-controller="Movements" method="get" asp-route-id="@Model.Id">
            <button type="submit">Добавить товар</button>
        </form>

    </div>



@section Scripts
{
    

    <script>   
   
    // вариант удаления целой позиции из корзины         
    function delProduct(movementId, productId) {   
          $.ajax({
                  type: "POST",
                  url: "/Movements/DelPositionFromBasketEdit",
                  data: {
                      "product": productId,
                       "productId": productId,
                       "movementId": movementId, 
                     
                      },                        
                  success: function(responce){    
                      $('#basket').html(responce);
                      
                      },error: function (error){
                        alert("Произошла ошибка")
                      }                  
                });
          }
          
    // вариант удаления минус одна еденица за клик из позиции в корзине
    //
    // function delProduct(movementId, productId) {   
    //           $.ajax({
    //                   type: "POST",
    //                   url: "/Movements/DelFromBasketEdit",
    //                   data: {
    //                       "product": productId,
    //                        "productId": productId,
    //                        "movementId": movementId, 
    //                     
    //                       },                        
    //                   success: function(responce){    
    //                       $('#basket').html(responce);
    //                      
    //                       },error: function (error){
    //                         alert("Произошла ошибка")
    //                       }                  
    //                 });
    //           }  
    // 
                 
   </script>
}
