@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<WareHouse.Models.ViewModels.MovementViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Приходные накладные</h2>

@if (Model.Count == 0)
{
    <br>

    <h3> Нет Поступлений </h3>
   
    <a class="btn btn-dark" asp-area="" asp-controller="Movements" asp-action="Add">добавить</a>
}
else
{
    <div class="container">
        <div>
            <table class="table">
                @foreach (var viewModel in Model)
                {
                    <tr>
                        <td>@viewModel.Id</td>
                        <td>@viewModel.Document </td>
                        <td>@viewModel.ProviderName </td>
                        <td>@viewModel.UserName </td>
                        <td>
                            <a class="btn btn-sm btn-primary" asp-controller="Movements" asp-action="Edit" asp-route-id="@viewModel.Id">подробно</a>
                        </td>
                    </tr>
                }
                <a class="btn btn-dark" asp-area="" asp-controller="Movements" asp-action="Add">добавить</a>
            </table>
        </div>
    </div>
}