@model WareHouse.Models.ViewModels.EditMovementProviderViewModel;


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2> Изменение поставщика </h2>


<form enctype="multipart/form-data"  asp-action="ProviderEdit" asp-controller="Movements" asp-antiforgery="true">
    <div class="validation" asp-validation-summary="All"></div>
   
                           
    <div class="row align-items-center pt-4 pb-3">
        <div class="col-md-3 ps-5">
            <h6 class="mb-0">Выберите  Организацию</h6>
        </div>
        <div class="col-md-6 pe-5">
            <select data-val="true" data-val-required="выберите организацию"   asp-for="ProviderId" class="form-control" asp-items="@ViewBag.ProviderList">
                <option>выберите из списка</option>
            </select>
        </div>
    </div>
    <hr class="mx-n3">
    <input asp-for="MovementId" type="hidden"/>


    <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
    <hr class="mx-n3">
</form>