@model List<WareHouse.Models.ViewModels.AllProductsViewModel>


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
 
<h2> Вывод всего остатка товаров на складе  </h2>


  
@if (Model.Count == 0)
{
    <br>

    <h3> Нет Товара </h3>
   
    <a class="btn btn-dark" asp-area="" asp-controller="Products" asp-action="Add">добавить</a>
}
else
{
    <table style="width:100%">
        <tr>
            <th>Наименнование</th>
            <th>Количество</th>
        </tr>
        
        @foreach (var AllProductsViewModel in Model) 
           { 
             <tr>
                <td>@AllProductsViewModel.Product.Name</td>
                <td>@AllProductsViewModel.Quantity</td> 
             </tr>
           } 
        
    </table>
}                                       