@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WareHouse.Models.ViewModels.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}


<section class="vh-100" style="background-color: #2779e2;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">

                <h1 class="text-white mb-4">Авторизоваться</h1>
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        <form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
                            <div class="validation" asp-validation-summary="All"></div>
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Email или Login</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <input asp-for="Login" type="text" placeholder="Email или Login">
                                </div>
                            </div>

                            <hr class="mx-n3">

                            <div class="row align-items-center py-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Пароль</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <div class="password">
                                        <input type="password" id="password-input" placeholder="Пароль" name="password">
                                        <a href="" class="password-control"></a>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-lg">Войти</button>
                            <hr class="mx-n3">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}