@using Microsoft.AspNetCore.Mvc.TagHelpers
@model WareHouse.Models.ViewModels.RegisterViewModel
@{
    ViewBag.Title = "Registration";
    Layout = "_Layout";
}


<section class="vh-230" style="background-color: #2779e2;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-9">

                <h1 class="text-white mb-4">Регистрация</h1>
                <div class="card" style="border-radius: 15px;">
                    <div class="card-body">
                        <form enctype="multipart/form-data" asp-action="Register" asp-controller="Account" asp-antiforgery="true">
                            <div class="validation" asp-validation-summary="All"></div>
                            @* <div class="row align-items-center pt-4 pb-3"> *@
                            @*     <div class="col-md-3 ps-5"> *@
                            @*         <h6 class="mb-0">Email</h6> *@
                            @*     </div> *@
                            @*     <div class="col-md-6 pe-5"> *@
                            @*         <input asp-for="Email" type="text" placeholder="Email"> *@
                            @*     </div> *@
                            @* </div> *@
                            @* <hr class="mx-n3"> *@
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Login</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <input asp-for="UserName" type="text" placeholder="Login">
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Имя</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <input asp-for="Name" type="text" placeholder="Имя ">
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Фамилия</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <input asp-for="Surname" type="text" placeholder="Фамилия ">
                                </div>
                            </div>
                            <hr class="mx-n3">
                            
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Пароль</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <input asp-for="Password" type="password" placeholder="Пароль">
                                </div>
                            </div>
                            <hr class="mx-n3">
                            <div class="row align-items-center pt-4 pb-3">
                                <div class="col-md-3 ps-5">
                                    <h6 class="mb-0">Подтвердите Пароль</h6>
                                </div>
                                <div class="col-md-6 pe-5">
                                    <input asp-for="PasswordConfirm" type="password" placeholder="Подтвердите Пароль">
                                </div>
                            </div>
                            <hr class="mx-n3">
                        

                            <button type="submit" class="btn btn-primary btn-lg">Регистрация</button>
                            <hr class="mx-n3">
                        </form>


                    </div>
                    <div class="option">
                        <p>Есть уже аккаунт? <a asp-action="Login" asp-controller="Account">Войти</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}